:root {
  --primary-color: rgb(25, 207, 200);
  --secondary-color: rgb(0, 0, 0);
  --tertiary-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header {
    background-image: url(../images/heroImg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header nav ul li a:hover {
  font-weight: bolder;
}

main {
    background-image: url(../images/heroImg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 100px;
  padding-top: 120px;
}
section {
  margin-bottom: 300px;
}

#about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}

.rounded-circle {
  width: 250px;
  margin-right: 200px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skills img {
  height: 80px;
}
.skills li {
  list-style: none;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-form img {
  height: 80px;
  margin: 10px;
}
footer {
  text-align: center;
}
