/* :root{
    --primary-color: rgb(25, 207, 200);
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: rgb(255, 255, 255);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;;

}
body{
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    background-image: url(../images/5b4f15b1ea4aa_thumb900.jpg);
}
.logo{
    height: 50px;
    width: 70px;
    border-radius: 25%;
    margin:0;
    text-decoration: none;
    border: 1px solid var(--secondary-color)
}
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
}
header nav{
    margin: 7px 0;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
}
header nav ul li a{
    padding: 10px 5px;
    font-weight: lighter;
    font-size: 2.5vw;
    text-decoration: none;
    color:var(--secondary-color);
    font-weight: bolder;
    background-color: var(--tertiary-color);
    border-radius: 10%;
    margin: 0 1px;
    border: 1px solid var(--secondary-color);
    
}
header nav ul li a:hover{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}
.pic {
    height:250px;
    width:230px;
    border-radius: 50%;
}
h1 {
    margin: 30px auto;
    font-weight: bold;
    font-size: 36px;
    width:50%;
    text-align: center;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border: 2px solid var(--primary-color);
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10%;
}
.name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
.title{
    font-size:25px;
    font-weight: bolder;
}
section{
    width: 85%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
}
.biography{
    background: var(--primary-color);
    
}
.biography p{
    margin: 0px auto;
    padding: 15px 30px;
    background: var(--primary-color);
    font-size: 14px;
    width: 100%;
}
.interests{
    background: var(--tertiary-color);
    color: var(--secondary-color);
}
.interests ul li{
    text-align: center;
    list-style: none;
    padding-bottom: 10px;
}
h2 {
    padding: 15px 15px;
    border-bottom: 5px solid var(--secondary-color);
}
h3 {
    padding: 15px 15px;
}

.recent-work{
    background: var(--primary-color);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgs {
    height: 50px;
    width: 65px;
    border: 2px solid var(--secondary-color);
    border-radius: 15%;
}
.imgs:hover{
    opacity: 0.5;
}
.first-application{
    width:100%;
    font-size: 25px;
}
.first-application-img{
    height: 95px;
    width: 110px;
}
.resume {
    background: var(--tertiary-color);
    color: var(--secondary-color);
}
.resume ul li {
    text-align: left;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    font-weight: bold;
}
.resume p{
    text-align: right;
    margin-right: 5px;
}
.duties ul li{
    list-style: disc;
    font-weight: lighter;
}
.contact-form{
    background: var(--primary-color);
    color: var(--tertiary-color);
    padding: 10px;
}
.contact-form a{
    text-decoration: none;
    color:var(--tertiary-color);
    padding: 0 20px;
}
.contact-form a:hover{
    color:var(--secondary-color);
}
@media screen and (min-width: 980px) {
    header {
        padding: 10px 35px;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        top: 0;
        background-size: cover;
        position: sticky;
        position: -webkit-sticky;
    }
    header nav{
        margin: 7px 0;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style:none;
    }
    header nav ul li a{
        padding: 10px 20px;
        font-weight: lighter;
        font-size: 20px;
        text-decoration: none;
        color:var(--secondary-color);
        font-weight: bolder;
        background-color: var(--tertiary-color);
        border-radius: 10%;
        margin: 0 15px;
        border: 1px solid var(--secondary-color);
        
    }
    header nav ul li a:hover{
        color: var(--tertiary-color);
        background-color: var(--secondary-color);
    }
    h1 {
            margin: 30px auto;
            font-weight: bold;
            font-size: 36px;
            width:25%;
            text-align: center;
            background: var(--secondary-color);
            color: var(--tertiary-color);
            border: 2px solid var(--primary-color);
            justify-content: space-between;
            flex-wrap: wrap;
            border-radius: 10%;
    }
    section{
        width:40%;
        scroll-margin-top: 5em;
    }
} */